body{BackGround-color:#272727;margin-top:0;margin-left:0;margin-right:0;margin-bottom:10;BackGround-Image:url(back.png);SCROLLBAR-FACE-COLOR:#698091;SCROLLBAR-SHADOW-COLOR:black;SCROLLBAR-HIGHLIGHT-COLOR:#698091;SCROLLBAR-3DLIGHT-COLOR:#000000;SCROLLBAR-DARKSHADOW-COLOR:#698091;SCROLLBAR-TRACK-COLOR:#272727;SCROLLBAR-ARROW-COLOR:#000000}
.n{Font-Family:Verdana;Font-size:12;text-indent:17px;text-align:justify;height:34;BackGround-color:#3d3f42}
.n3{Font-Family:Verdana;Font-size:12;text-align:center;height:34;BackGround-color:#3d3f42}
.p{Font-Family:Verdana;Font-weight:bold;Font-size:11px;color:#FF0000;text-align:center;height:12}
.pt{Font-Family:Verdana;Font-weight:bold;Font-size:13px;color:#CCCCCC;BackGround-color:#3d3f42;text-align:center}
.tbs{Border-color:#3d3f42;Border-style:solid;Border-width:1px;BackGround-color:black;}
* {
  color: silver;
}
p.text{
font-family: Tahoma, sans-serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
font-size: 10px;
text-shadow:0px 0px 0 rgb(158,158,158), 1px 1px 0 rgb(71,71,71),2px 2px 1px rgba(0,0,0,0.6),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);}